<div class="row">
	<div class="col-xs-3">
	<div class="card">
	  <div class="card-block">
	    Stats
	  </div>
	</div>
	</div>

	<div class="col-xs-6">
		<div class="card">
		  <div class="card-block">
		    Trends
		  </div>
		</div>
	</div>
	<div class="col-xs-3">
		<div class="card">
		  <div class="card-block">
		    Trends
		  </div>
		</div>
	</div>
</div>
<!-- begin row .-->
<div class="row">
	<div class="col-xs-3">
	<div class="card">
	  <div class="card-block">
	    Trends
	  </div>
	</div>
	</div>
</div>