
<div class="col-sm-12">
	<div class="jumbotron">
		<%= @username %>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-sm-3">
    		<div class="card">
    			<div class="card-block">
      				profile
     			</div>
     		</div>
    	</div>

   		<div class="col-sm-6">
        <% for @p in @posts %>
   			<div class="card">
   				<div class="card-block">
      				<p><%= @p.content %></p>
      			</div>
      		</div>
          <% end %>
    	</div>

    	<div class="col-sm-3">
   			<div class="card">
   				<div class="card-block">
      				<p> who to follow </p>
      			</div>
      		</div>

          <div class="card">
            <div class="card-block">
                <p> trends </p>
            </div>
          </div>
      </div>
  </div>
</div>




