<<<<<<< HEAD

<div class="col-sm-12">
	<div class="jumbotron">
		TWITTER
=======
<div class="row">
	<div class="col-xs-12">
		<div class="jumbotron">
			HEADER
		</div>
>>>>>>> origin/master
	</div>
</div>


<<<<<<< HEAD
<div class="container">
	<div class="row">
		<div class="col-sm-3">
    		<div class="card">
    			<div class="card-block">
      				profile
     			</div>
     		</div>
    	</div>

   		<div class="col-sm-6">
   			<div class="card">
   				<div class="card-block">
      				tweets
      			</div>
      		</div>
    	</div>
    	<div class="col-sm-3">
   			<div class="card">
   				<div class="card-block">
      				who to follow
      			</div>
      		</div>
    	</div>
  	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-sm-3 offset-md-9">
    		<div class="card">
    			<div class="card-block">
      				trends
     			</div>
     		</div>
    	</div>
	</div>
</div>




=======
<!--Begin row2-->
<div class="row">
	<div class="col-xs-3">
	<div class="card">
	  <div class="card-block">
	    Profile
	  </div>
	</div>
	</div>

	<div class="col-xs-6">
		<div class="card">
		  <div class="card-block">
		    tweets
		  </div>
		</div>
	</div>
	<div class="col-xs-3">
		<div class="card">
		  <div class="card-block">
		    who  to follow
		  </div>
		</div>
	</div>
</div>
<!-- begin row .-->
<div class="row">
	<div class="col-xs-3 offset-xs-9">
	<div class="card">
	  <div class="card-block">
	    Trends
	  </div>
	</div>
	</div>
</div>
>>>>>>> origin/master
