<div class="row">
	<div class="col-xs-12">
		<div class="jumbotron">
			HEADER
		</div>
	</div>
</div>


<!--Begin row2-->
<div class="row">
	<div class="col-xs-3">
	<div class="card">
	  <div class="card-block">
	    Profile
	  </div>
	</div>
	</div>

	<div class="col-xs-6">
		<div class="card">
		  <div class="card-block">
		    tweets
		  </div>
		</div>
	</div>
	<div class="col-xs-3">
		<div class="card">
		  <div class="card-block">
		    who  to follow
		  </div>
		</div>
	</div>
</div>
<!-- begin row .-->
<div class="row">
	<div class="col-xs-3 offset-xs-9">
	<div class="card">
	  <div class="card-block">
	    Trends
	  </div>
	</div>
	</div>
</div>