
<div class="col-sm-12">
	<div class="jumbotron">
		TWITTER
	</div>
</div>


<div class="container">
	<div class="row">
		<div class="col-sm-3">
    		<div class="card">
    			<div class="card-block">
      				profile
     			</div>
     		</div>
    	</div>

   		<div class="col-sm-6">
   			<div class="card">
   				<div class="card-block">
      				tweets
      			</div>
      		</div>
    	</div>
    	<div class="col-sm-3">
   			<div class="card">
   				<div class="card-block">
      				who to follow
      			</div>
      		</div>
    	</div>
  	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-sm-3 offset-md-9">
    		<div class="card">
    			<div class="card-block">
      				trends
     			</div>
     		</div>
    	</div>
	</div>
</div>




